@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* The alternative box model */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*  */
:root {
  --primary-blue: #4070f4;
  --page-background: #f0f2f5;
  --text-primary: #333333;
  --text-secondary: #707070;
  --btn-hover: #265df2;
}

/* -------------------- */
body {
  background-color: var(--page-background);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-card {
  width: 320px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 10px #0000001a;
  font-family: Poppins;
}

.header {
  height: 140px;
  background-color: var(--primary-blue);
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: center;
}

.header img {
  border-radius: 50%;
  border: 4px solid var(--primary-blue);
  padding: 3px;
  background-color: #fff;
  margin-top: 20px;
}

.personal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 44px;

  .name {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-primary);
    margin-bottom: 7px;
  }
  .description {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-secondary);
  }

  .social-links {
    display: flex;
    justify-content: space-between;
    width: 175px;
    margin-block: 20px;

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      transition: box-shadow 0.2s;
    }
    img:hover {
      box-shadow: 0 0 3px 2px #00000044;
    }
  }
}

.contact {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
  button {
    cursor: pointer;
    width: 125px;
    padding: 10px 25px;
    border: none;
    border-radius: 24px;
    color: #fff;
    background-color: var(--primary-blue);
  }
  button:hover {
    background-color: var(--btn-hover);
  }
}

.stats {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;

  div {
    display: flex;
    align-items: center;
    padding-inline: 15px;
    gap: 5px;
    img {
      width: 17px;
    }
    p {
      margin: 0;
    }
  }

  .comments {
    border-left: 1px solid var(--text-secondary);
    border-right: 1px solid var(--text-secondary);
  }
}

.author {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Poppins", sans-serif;
  a {
    font-size: 30px;
  }
}
